<!DOCTYPE html>
<html>
<head>
    <title>Wildlife Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/navitem.js"></script>

</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Sightings</a></li>
    <li role="presentation"><a href="/addSighting">add Sighting</a></li>
    <li role="presentation"><a href="/animals">Animals</a></li>
    <li role="presentation"><a href="/addanimal">Add animal</a></li>
</ul>
<div class="container">


